---
import BlogPostListLayout from "src/layouts/BlogPostListLayout.astro";
import BlogPost from "../components/BlogPost.astro";
import { getCollection } from "astro:content";
import classes from "../styles/blog.module.scss";
const allPosts = await getCollection("blog");
const pageTitle = "My Blog";
---

<BlogPostListLayout>
  <div class={`content glass ${classes.blogListHeader}`}>
    <h1>{pageTitle}</h1>
    <p>This is where I will post about my journey in software and game dev.</p>
  </div>
  <div class={`${classes.blogList}`}>
    {
      allPosts
        .sort((a, b) => {
          return (
            new Date(b.data.pubDate).getUTCDate() -
            new Date(a.data.pubDate).getUTCDate()
          );
        })
        .map((post: { id: any; data: any }) => {
          return (
            <BlogPost
              url={`/posts/${post.id}/`}
              title={post.data.title}
              description={post.data.description}
              date={post.data.pubDate}
              image={post.data.image}
            />
          );
        })
    }
  </div>
</BlogPostListLayout>
