---
import { Image } from "astro:assets";
import TagList from "../components/TagList.astro";
import BaseLayout from "./BaseLayout.astro";
const { frontmatter } = Astro.props;
---

<BaseLayout pageTitle={frontmatter.title}>
  <p>{frontmatter.pubDate.toLocaleDateString()}</p>
  <p><em>{frontmatter.description}</em></p>
  <p>Written by: {frontmatter.author}</p>
  <TagList tags={frontmatter.tags} />
  <Image
    src={frontmatter.image.url}
    class="mainImgPost"
    width="300"
    height="168"
    alt={frontmatter.image.alt}
  />
  <slot />
  <style>
    .mainImgPost {
      margin: 10px;
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 50%;
    }
  </style>
</BaseLayout>
